# General
/build
*.log
.DS_Store
/.idea
node_modules

# Client Flutter
onschool_client/*.class
onschool_client/*.pyc
onschool_client/*.swp
onschool_client/.atom/
onschool_client/.buildlog/
onschool_client/.history
onschool_client/.svn/
onschool_client/migrate_working_dir/

onschool_client/*.iml
onschool_client/*.ipr
onschool_client/*.iws

onschool_client/**/doc/api/
onschool_client/**/ios/Flutter/.last_build_id
onschool_client/.dart_tool/
onschool_client/.flutter-plugins
onschool_client/.flutter-plugins-dependencies
onschool_client/.pub-cache/
onschool_client/.pub/

onschool_client/app.*.symbols

onschool_client/app.*.map.json

onschool_client//android/app/debug
onschool_client//android/app/profile
onschool_client//android/app/release

# Server NestJS

onschool_server/dist
onschool_server/node_modules
onschool_server/build

onschool_server/logs
onschool_server/npm-debug.log*
onschool_server/pnpm-debug.log*
onschool_server/yarn-debug.log*
onschool_server/yarn-error.log*
onschool_server/lerna-debug.log*

onschool_server//coverage
onschool_server//.nyc_output

onschool_server/.project
onschool_server/.classpath
onschool_server/.c9/
onschool_server/*.launch
onschool_server/.settings/
onschool_server/*.sublime-workspace

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

.temp
.tmp

pids
*.pid
*.seed
*.pid.lock

report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
