# ===================
# 🌐 Общие исключения
# ===================
*.log
*.tmp
*.swp
*.pid
*.pid.lock
*.iml
*.ipr
*.iws
.DS_Store
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
tsconfig.tsbuildinfo

node_modules/
build/
dist/
coverage/
.nyc_output/
.temp/
.tmp/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# =====================
# ⚙️ Переменные окружения
# =====================
# .env
.env.local
# .env.*.local

# ===================
# 🧠 NestJS (Server)
# ===================
logs/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
*.sqlite